{% extends "blank.html" %}
{% block title %}
<title>{{address}} - AUSLM</title>
{% endblock %}

{% block styles%}
<link href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css" rel="stylesheet">
{% endblock %}

{% block page %}
{{address}}({{domain}})
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-8">
        <div class="card shadow mb-4">
            <div class="card-body">
                <div class="table-responsive" id="machines_table">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                          <thead>
                            <tr>
                                <th>E-mail</th>
                                <th>Name</th>
                                <th>Surname</th>
                                <th>Revoke</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>E-mail</th>
                                <th>Name</th>
                                <th>Surname</th>
                                <th>Revoke</th>
                            </tr>
                        </tfoot>
                          <tbody>
                            {% for user in users %}
                            <tr>
                                <td class="text-center align-middle"><a id="row_link" class="btn btn-link" href="/user/{{user.email}}" role="button">{{user.email}}</a></td>
                                <td class="text-center align-middle" class="text-center">{{user.name}}</td>
                                <td class="text-center align-middle" class="text-center">{{user.surname}}</td>
                                <td class="text-center align-middle">
                                    <button type="button" class="btn btn-danger btn-icon-split" onclick="revoke_access_function(this)" machine_address={{address}} user_email={{user.email}}>
                                        <span class="icon">
                                            <i class="fas fa-trash"></i>
                                        </span>
                                        <span id="button_text" class="text">Revoke</span>
                                    </button>
                                </td>
                            </tr>
                            {% endfor %}
                          </tbody>
                        </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Grant access</h6>
            </div>
            <div class="card-body">
                <form id="grant_access_form">
                    <div class="form-group">
                        <input
                            id="grant_access_email"
                            class="form-control"
                            placeholder="e-mail"
                            required>
                    </div>
                    <button type="submit" class="btn btn-primary" id="grant_access_button" machine_address={{address}}>Grant</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block extra_js%}
<!-- Datatables -->
<script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>

<!-- Datatables custom script -->
<script src="/static/js/datatables.js"></script>

<script src="/static/js/auslm/revoke_access_table.js"></script>
<script src="/static/js/auslm/grant_access_to_machine_or_user.js"></script>
{% endblock %}