{% extends "blank.html" %}
{% block title %}
<title>{{user.email}} - AUSLM</title>
{% endblock %}

{% block styles%}
<link href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css" rel="stylesheet">
{% endblock %}

{% block page %}
{{user.email}}
{% endblock %}

{% block content %}

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">{{user.name}} {{user.surname}}</h1>
    <h1 class="h3 mb-0 text-gray-800">{{user.service_status}}</h1>
</div>

<div class="row">
    <div class="col-lg-8">

<div class="card shadow mb-4">
    <a href="#collapse_card_user_keys" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapse_card_user_keys">
        <h6 class="m-0 font-weight-bold text-primary">User's keys</h6>
    </a>
    <div class="collapse hide" id="collapse_card_user_keys">
        <div class="card-body">
            <div class="table-responsive" id="keys_table">
                <table class="table table-sm table-bordered" id="keysTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Time</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <th>Name</th>
                      <th>Time</th>
                      <th></th>
                    </tr>
                  </tfoot>
                  <tbody>
                    {% for key in keys %}
                    <tr>
                        <td class="text-center align-middle">
                            <a href="" data-toggle="modal" data-target="#ssh_key_modal" onclick="show_key_info_function('{{user.email}}', '{{key.id}}')">{{key.name}}</a>
                        </td>
                        <td class="text-center align-middle">{{key.update_time}}</td>
                        <td class="text-center align-middle">
                            <button type="button" onclick="delete_key_function(this)" class="btn btn-danger btn-icon-split" ssh_key_id={{key.id}} user_email={{user.email}}>
                                <span class="icon">
                                    <i class="fas fa-trash"></i>
                                </span>
                                <span id="button_text" class="text">Delete</span>
                            </button>
                        </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<div class="card shadow mb-4">
    <div class="card-body">
<div class="table-responsive" id="machines_table">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Domain</th>
                      <th>Address</th>
                      <th>Open Web Shell</th>
                      <th>Connect via SSH</th>
                      <th>Delete</th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <th>Domain</th>
                      <th>Address</th>
                      <th>Open Web Shell</th>
                      <th>Connect via SSH</th>
                      <th>Delete</th>
                    </tr>
                  </tfoot>
                  <tbody>
                    {% for machine in machines %}
                    <tr>
                        <td class="text-center align-middle"><a id="row_link" class="btn btn-link" href="/machine/{{machine.address}}" role="button">{{machine.domain}}</a></td>
                        <td class="text-center align-middle" class="text-center">{{machine.address}}</td>
                        <td class="text-center align-middle text-light">
                            <button class="btn btn-primary btn-icon-split" id="web_terminal_button" onclick="get_web_terminal_function(this)" machine_address={{machine.address}} type="button">
                                <span class="icon">
                                    <i class="fas fa-arrow-right"></i>
                                </span>
                                <span id="button_text" class="text">Open</span>
                            </button>
                        </td>
                        <td class="text-center align-middle">
                            <button type="button" class="btn btn-primary btn-icon-split" id="ssh_addr_copy_button" onclick="ssh_addr_copy(this)" ssh_addr="{{current_user.email}}@{{machine.address}}:22">
                            <span class="icon">
                                <i class="fas fa-paste"></i>
                            </span>
                            <span class="text">SSH link</span>
                            </button>
                        </td>
                        <td class="text-center align-middle">
                            <button type="button" class="btn btn-danger btn-icon-split" onclick="revoke_access_function(this)" machine_address={{machine.address}} user_email={{user.email}}>
                                <span class="icon">
                                    <i class="fas fa-trash"></i>
                                </span>
                                <span id="button_text" class="text">Revoke</span>
                            </button>
                        </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
            </div>
        </div>
    </div>
    </div>
    <div class="col-lg-4">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Grant access</h6>
            </div>
            <div class="card-body">
                <form id="grant_access_form">
                    <div class="form-group">
                        <input
                            id="grant_access_address"
                            class="form-control"
                            placeholder="address - x.x.x.x"
                            required>
                    </div>
                    <button type="submit" class="btn btn-primary" id="grant_access_button" user_email={{user.email}}>Grant</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block extra_modals%}

        <div class="modal" id="ssh_key_modal" tabindex="-1" role="dialog" aria-labelledby="ssh_key_modal_Label" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="ssh_key_modal_Label">Key info</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="card">
                            <div class="card-body">
                                <p id="key_name_modal" class="font-weight-bold"></p>
                                <p id="key_data_modal" class="text-wrap"></p>
                                <p id="key_time_modal"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}

{% block extra_js%}
<!-- Datatables -->
<script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>

<!-- Datatables custom script -->
<script src="/static/js/datatables.js"></script>

<script src="/static/js/ssh_addr_copy.js"></script>
<script src="/static/js/get_web_terminal.js"></script>
<script src="/static/js/revoke_access_table.js"></script>

<script src="/static/js/grant_access_to_machine_or_user.js"></script>

<script src="/static/js/delete_key.js"></script>

<script src="/static/js/show_key_info.js"></script>
{% endblock %}